@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

html,
body {
  height: 100%;
  font-family: "Montserrat";
  color: #FFF;
  font-style: normal;
  font-weight: 700;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.none {
  display: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.burger {
  display: none;
}

.header__inner {
  margin-bottom: 326px;
  margin-top: 18px;
}
.header__top {
  height: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  margin-right: auto;
}
.header__logo h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: normal;
}
.header__nav__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.header__list a {
  color: #FFF;
  font-size: 16px;
  line-height: normal;
}
.header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone .phone {
  border-radius: 20px;
  border: 1px solid #FFF;
  padding: 10px;
}
.header__phone .phone a {
  color: #FFF;
  font-size: 16px;
  line-height: normal;
}
.header__phone .phone__return {
  margin-top: 10px;
}
.header__phone .phone__return a {
  color: #FFF;
  font-size: 14px;
  line-height: normal;
  text-decoration-line: underline;
}

.bust {
  z-index: -1;
  margin-top: 325px;
}
.bust::after {
  background-image: url("../image/team/team.png");
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
}
.bust__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.bust__title {
  max-width: 746px;
  margin-bottom: 112px;
  color: #FFF;
  font-style: normal;
  font-weight: 700;
}
.bust__title h1 {
  font-size: 48px;
  width: 100%;
}
.bust__title span {
  font-size: 32px;
}
.bust__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 125px;
     -moz-column-gap: 125px;
          column-gap: 125px;
}
.bust__cols__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}
.bust__cols {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}
.bust .col__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.bust .col img {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.bust__consul {
  margin-top: -90px;
  max-width: 307px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.bust__text {
  margin-bottom: 10px;
}
.bust__text p {
  color: #FFF;
  font-size: 15px;
  font-weight: 700;
}
.bust__btn {
  margin-top: 16px;
  border-radius: 30px;
  background: #2196F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 71px;
  padding: 10px 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}
.bust__btn ::after {
  content: "";
  display: block;
  width: 20px;
  height: 291px;
  margin-left: 50px;
  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), color-stop(50%, rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgb(255, 255, 255) 50%, rgba(255, 255, 255, 0.5) 100%);
  left: -40px;
  top: -100px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  -webkit-animation: movingFlare 3s ease-in-out 0.05s infinite;
          animation: movingFlare 3s ease-in-out 0.05s infinite;
}
@-webkit-keyframes movingFlare {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
@keyframes movingFlare {
  0% {
    left: 0px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 80px;
  }
  100% {
    left: 110%;
    margin-left: 80px;
  }
}
.bust__btn a {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.clients {
  margin-top: 216px;
  position: relative;
}
.clients__title {
  margin-bottom: -7px;
}
.clients__title h2 {
  color: #212529;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
}
.clients .slider {
  margin-bottom: 46px;
}
.clients__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 25px;
}

.videoRew {
  position: relative;
}
.videoRew__title {
  margin-bottom: 3px;
}
.videoRew__title h2 {
  color: #212529;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  line-height: 120%;
}
.videoRew__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-bottom: 25px;
}

.sliderVideo iframe {
  width: 100%;
  height: 515px;
}

.advantages {
  margin-bottom: 184px;
}
.advantages__title {
  margin-bottom: 32px;
}
.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.advantages__columns {
  max-width: 292px;
  padding: 45px 30px 63px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.advantages__columns:hover {
  border: 1px solid #00AEEF;
}
.advantages .col {
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
.advantages .col__img {
  margin-bottom: 24px;
}
.advantages .col__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #212529;
  height: 48px;
}
.advantages .col__text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212529;
  margin-top: 16px;
}

.help {
  margin-bottom: 184px;
}
.help .col__img {
  max-width: 100%;
  height: auto;
}
.help__title {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: #212529;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.help__col__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.help__col__row__revers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.help__col {
  margin-bottom: 32px;
}
.help__col__desc {
  max-width: 605px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 45px 100px 25px 45px;
}
.help__col__desc__revers {
  max-width: 605px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 45px 100px 45px 45px;
}
.help__col__desc__revers {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.help__col__title {
  max-width: 326px;
  text-align: left;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #212529;
}
.help__col__rf {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #212529;
  margin-bottom: 16px;
  opacity: 0.5;
}
.help__col__desc__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  margin-bottom: 32px;
  color: #212529;
}
.help__col__service {
  margin-bottom: 43px;
}
.help__col__service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.help__col__service__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.help__col__service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.help__col__service__atten {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #212529;
  opacity: 0.5;
}
.help__col__service__mes {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #212529;
}

.help__col__image {
  height: 437px;
}

.help__col__image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.help__col__image__revers img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
}

.reliability {
  margin-bottom: 76px;
}
.reliability__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.reliability__col {
  padding: 45px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin-bottom: 16px;
}
.reliability__col:nth-child(2n) {
  margin-left: 16px;
}
.reliability__col__image {
  margin-bottom: 24px;
}
.reliability__col__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #212529;
  margin-bottom: 16px;
}
.reliability__col__text {
  max-width: 500px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #212529;
}

.footer__btn {
  padding: 16px 25.5px;
  background: #fff;
  border-radius: 5px;
  max-width: 263px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #161616;
}
.footer__btn:hover {
  background-color: #1c73b8;
}

.btn-red__form__btn {
  padding: 16px 75px;
  height: 51px;
  max-width: 260px;
}

.btn-red__form__quest {
  padding: 16px 179.5px;
  height: 48px;
  max-width: 260px;
}

.form__btn__quest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col__help__button__help {
  padding: 18px 35.5px;
}

.footer__btn {
  background: #fff;
  margin-bottom: 32px;
}

.col__help__button__help {
  padding: 16px;
  background: #2196F3;
  border-radius: 5px;
  max-width: 300px;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}
.col__help__button__help:hover {
  background-color: #1c73b8;
}

.form {
  margin-bottom: 97px;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.form__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #3981F4;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 58px 47px 37px 82px;
}
.form__title {
  max-width: 360px;
  width: 100%;
  margin-bottom: 30px;
}
.form__title h3 {
  color: #FFF;
  font-size: 32px;
  font-weight: 600;
  line-height: normal;
}
.form__text {
  color: #FFF;
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
}
.form__text h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
}
.form__text span {
  font-size: 22px;
  font-weight: 800;
  line-height: 28px;
}
.form form input[type=text] {
  width: 100%;
  height: 56px;
  padding: 0px 16px;
  border-radius: 5px;
  background: #ECECEC;
  margin-bottom: 24px;
}
.form form label {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 114%;
}
.form form label a {
  font-size: 14px;
  color: #FFF;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
}
.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4px;
     -moz-column-gap: 4px;
          column-gap: 4px;
  margin-bottom: 39px;
  /* Скрыть оригинальный чекбокс */
  /* Стилизация */
  /* Стили при наведении */
  /* Стили при отмеченном чекбоксе */
}
.form__checkbox input[type=checkbox] {
  display: none;
}
.form__checkbox label {
  display: inline-block;
  position: relative;
  padding-left: 32px;
  margin-right: 15px;
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  color: #212529;
}
.form__checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #FFFFFF;
}
.form__checkbox label::after {
  content: "✔";
  display: none;
  position: absolute;
  left: 4px;
  top: 5px;
  font-size: 20px;
  color: #212529;
}
.form__checkbox input[type=checkbox]:checked + label::after {
  display: block;
}
.form__btn button {
  width: 100%;
  height: 56px;
  border-radius: 30px;
  border: 1px solid #FFF;
  background: #FFF;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}
.form .custom-button {
  color: #212529;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 80%;
  margin-bottom: 30px;
}
.form__social {
  max-width: 249px;
  width: 100%;
}
.form__social h2 {
  margin-bottom: 18px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
}
.form__social__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
.form__right {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.form__right img {
  height: 100%;
}

.footer a {
  color: #FFF;
}
.footer__body {
  border-radius: 10px 10px 0px 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../image/footer.png"), lightgray 50%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%), url("../image/footer.png"), lightgray 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer__row {
  padding: 45px 45px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 90px;
}
.footer__item1__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__item1__box1 {
  max-width: 261px;
  margin-right: 45px;
}
.footer__item1__box2 {
  max-width: 261px;
}
.footer__item1__box1 a, .footer__item1__box2 a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}
.footer__item1__box1 ul li:not(:last-child), .footer__item1__box2 ul li:not(:last-child) {
  margin-bottom: 16px;
}
.footer__item1__box1 ul li:hover, .footer__item1__box2 ul li:hover {
  text-decoration: underline;
}
.footer__item2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__item2__button {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  color: #161616;
  padding: 16px 45px;
}
.footer__social a:not(:last-child) {
  margin-right: 16px;
}
.footer__distans {
  padding: 0px 45px 45px 45px;
}
.footer__img {
  margin-bottom: 16px;
}
.footer__copy {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}
.footer__desc__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__desc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}
.footer__desc:not(:last-child) {
  margin-right: 24px;
}